<hr>
<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container-fluid footerArea">
    <!-- <div class="container containerOne pt-4">
      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 courseDiv">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 topOnlineCourses f-left">
            <h5>Top Online Courses</h5>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 CoursesList f-left">
            <ul>
              <li>Java Online Training</li>
              <li>Aws Online Training</li>
              <li>Angular Online Training</li>
              <li>Python Online Training</li>
              <li>Python Online Training</li>
              <li>Selenium Online Training</li>
              <li>DevOps Online Training</li>
              <li>Data Science Online Training</li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 CoursesList f-left">
            <ul>
              <li>Java Online Training</li>
              <li>Aws Online Training</li>
              <li>Angular Online Training</li>
              <li>Python Online Training</li>
              <li>Python Online Training</li>
              <li>Selenium Online Training</li>
              <li>DevOps Online Training</li>
              <li>Data Science Online Training</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 contactDetails f-left">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 f-left">
          <h5>Company</h5>
              <p>About</p>
              <p>Courses</p>
              <p>Contact Us</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 addressList f-left">
            <h5>Contact Us</h5>
                <ul>
                  <li>Comapny name</li>
                  <li>Door number</li>
                  <li>Street </li>
                  <li>City</li>
                  <li>Phone</li>
                  <li>Mail</li>
                </ul>
          </div>
        </div>
      </div>
    </div>
    </div> -->
  </div>
    <div class="container">
      <!-- Section: Social media -->
      <div class="row">
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"          >
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
  
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button">
          <i class="fa fa-google" aria-hidden="true"></i>
          </a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button">
        <i class="fa fa-instagram" aria-hidden="true"></i></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button" >
          <i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button">
          <i class="fa fa-github" aria-hidden="true"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-dark" href="https://google.com/">Brand</a>
    </div>
    <!-- Copyright -->
  </footer>

